<mat-toolbar class="toolbar-class" fxLayout="row" color="primary">

<div id="over">
	<img class="Centered" src="assets/icons/robot-face2.png" />
    <span class="Centerer"> <b> Optilux </b> </span>

</div>

    	<button routerLink="/dashboard" fxFlexOffset="0" style="	border-right: 1px solid #cccccc; border-left: 1px solid #cccccc; border-bottom: 5px solid #00638F;" mat-button class="toolbar-buttons">Automation Tools</button>

    	<button routerLink="/intelligence" style = "border-right: 1px solid #cccccc; border-bottom: 3px solid #00638F;" fxFlexOffset="0" mat-button class="toolbar-buttons">Puchasing Intelligence</button>

  </mat-toolbar>

<router-outlet></router-outlet>