<mat-toolbar fxLayout="row" fxLayoutAlign="center center" class="item-toolbar" style="background: #00838F; color: white; margin: 4px; margin-bottom: 0px;">
      <span style="color:black; font-size: 250%;">Sorry!</span>
    </mat-toolbar>
<mat-toolbar fxLayout="row" fxLayoutAlign="center center" class="item-toolbar" style="background: #0097A7; color: white; margin: 4px;margin-top: 0px; font-size: 150%;">
      <span>This tool was not developed just yet :(</span>
    </mat-toolbar>
    <mat-toolbar class="item-toolbar" style="background: #ffffff; color: black; margin: 4px;margin-top: 20px; font-size: 140%;">
      <span> <b> Could you, please, tell us a little bit about your problem? </b></span>
    </mat-toolbar>

<div style="margin: 30px;">


    <form class="form-center" fxLayout="column" fxLayoutAlign="center stretch" >
      
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name the problem" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="How many colaborators are affected" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="How much time is wasted with this task" value="">
             </mat-form-field>

       <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Could you detail your problem a little more?
"></textarea>
      </mat-form-field>

             <mat-form-field class="example-full-width">
        <textarea matInput placeholder="What would you say is a solution to your problem?
"></textarea>
      </mat-form-field>

    </form>


      <button mat-button class="send-button">Send</button>
</div>