<mat-toolbar class="item-toolbar" style="background: #00838F; color: white; margin: 4px;">
      <span>Frequent Tools</span>
    </mat-toolbar>

<div class="example-sidenav-content" fxLayout="row" fxLayoutAlign="space-around start">

<!-- 			<iframe width="1600" height="1000" src="https://app.powerbi.com/view?r=eyJrIjoiNWIxZWNjODctOWYxOC00YTQwLThkNjctMjc2MWIyMjg2NjViIiwidCI6ImQ1ZWEwMTEwLWNmZTUtNDM5Yi1hOTQ3LWFhMjdjZDU2ZjA2NyJ9" frameborder="0" allowFullScreen="true"></iframe>
 -->

			<mat-card class="example-card">
			  <mat-card-header style="border-bottom: 1px solid #cccccc;">

			    <div mat-card-avatar class="fa fa-cog" style="font-size: 290%; height: 60px;"></div>
			    <mat-card-title>Extração de dados</mat-card-title>

			    <mat-card-subtitle>Tempo estimado: 40 minutos. </mat-card-subtitle>
			  </mat-card-header>

			  <div fxLayoutAlign="space-around center" style="padding-top: 10px; padding-bottom: 10px;">
			  <img align = "middle" src="http://www.winsdata.com.br/images/canal_servicos/06-captura_imagem.jpg" style="max-height: 240px; max-width: 240px;">
			  </div>
			  	<mat-card-content >
			    <p>
			    	Extração de todos os itens do people e inserção em planilha.
			    </p>
			  </mat-card-content>
			  <mat-card-actions>
			    <button routerLink="/dashboard/extractForm" (click)="extracaoDados()" mat-button style="background: #383838; color: white; width: 100%; margin: 0px; border: 0px;" >Iniciar</button>
			  </mat-card-actions>
			</mat-card>

			<mat-card class="example-card2" style="color: #006064">
			  <mat-card-header style="border-bottom: 1px solid #006064;">
			    <div mat-card-avatar class="fa fa-cog" style="font-size: 290%; height: 60px;"></div>
			    <mat-card-title style="color: #006064">Extração de dados</mat-card-title>

			    <mat-card-subtitle style="color: #00838F">Tempo estimado: 40 minutos.</mat-card-subtitle>
			  </mat-card-header>

			  <div fxLayoutAlign="space-around center" style="padding-top: 10px; padding-bottom: 10px;">
			  <img align = "middle" src="http://www.winsdata.com.br/images/canal_servicos/06-captura_imagem.jpg" style="max-height: 240px; max-width: 240px;">
			  </div>
			  	<mat-card-content >
			    <p>
			    	Extração de todos os itens do people e inserção em planilha.
			    </p>
			  </mat-card-content>
			  <mat-card-actions>
			    <button mat-button style="background: #006064; color: white; width: 100%; margin: 0px; border: 0px;" >Iniciar</button>
			  </mat-card-actions>
			</mat-card>


  		</div>

  			<div class="example-sidenav-content" fxLayout="row" fxLayoutAlign="space-around start">


  			<mat-card class="example-card2" style="color: #006064">
			  <mat-card-header style="border-bottom: 1px solid #006064;">
			    <div mat-card-avatar class="fa fa-cog" style="font-size: 290%; height: 60px;"></div>
			    <mat-card-title style="color: #006064">Relatório de Divergência</mat-card-title>

			    <mat-card-subtitle style="color: #00838F">Tempo estimado: 15 minutos.</mat-card-subtitle>
			  </mat-card-header>

			  <div fxLayoutAlign="space-around center" style="padding-top: 10px; padding-bottom: 10px;">
			  <img align = "middle" src="http://www.winsdata.com.br/images/canal_servicos/06-captura_imagem.jpg" style="max-height: 240px; max-width: 240px;">
			  </div>
			  	<mat-card-content >
			    <p>
			    	Extração de todos os itens do people e inserção em planilha.
			    </p>
			  </mat-card-content>
			  <mat-card-actions>
			    <button mat-button style="background: #006064; color: white; width: 100%; margin: 0px; border: 0px;" >Iniciar</button>
			  </mat-card-actions>
			</mat-card>

			<mat-card class="example-card">
			  <mat-card-header style="border-bottom: 1px solid #cccccc;">

			    <div mat-card-avatar class="fa fa-cog" style="font-size: 290%; height: 60px;"></div>
			    <mat-card-title>Agregação SKUs</mat-card-title>

			    <mat-card-subtitle>Tempo estimado: 60 minutos.</mat-card-subtitle>
			  </mat-card-header>

			  <div fxLayoutAlign="space-around center" style="padding-top: 10px; padding-bottom: 10px;">
			  <img align = "middle" src="http://www.winsdata.com.br/images/canal_servicos/06-captura_imagem.jpg" style="max-height: 240px; max-width: 240px;">
			  </div>
			  	<mat-card-content >
			    <p>
			    	Extração de todos os itens do people e inserção em planilha.
			    </p>
			  </mat-card-content>
			  <mat-card-actions>
			    <button mat-button style="background: #383838; color: white; width: 100%; margin: 0px; border: 0px;" >Iniciar</button>
			  </mat-card-actions>
			</mat-card>
  		</div>
